ESLPaymentServiceRender.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:eslpay="http://www.eslsetel.et/ESLPaymentService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ESLPaymentService" targetNamespace="http://www.eslsetel.et/ESLPaymentService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eslsetel.et/ESLPaymentService/">
      <xsd:element name="paymentQueryRequest">
        <xsd:complexType>
          <xsd:sequence>
                  	<xsd:element name="TransType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="TransID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="TransTime" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="BusinessShortCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="BillRefNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="MSISDN" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="paymentQueryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ResultCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="ResultDesc" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="TransID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="BillRefNumber" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="UtilityName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="CustomerName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          	<xsd:element name="Amount" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="paymentValidationRequest">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="TransType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransTime" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransAmount" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="BusinessShortCode"
      				type="xsd:string" maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="BillRefNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="InvoiceNumber" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="MSISDN" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="KYCInfo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="paymentValidationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ResultCode" type="xsd:string"></xsd:element>
      			<xsd:element name="ResultDesc" type="xsd:string"></xsd:element>
      			<xsd:element name="ThirdPartyTransID" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="paymentConfirmationRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="TransType" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransTime" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="TransAmount" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="BusinessShortCode"
      				type="xsd:string" maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="BillRefNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="InvoiceNumber" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="OrgAccountBalance"
      				type="xsd:string" maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="ThirdPartyTransID"
      				type="xsd:string" maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="MSISDN" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="KYCInfo" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="paymentConfirmationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="paymentQueryRequest">
    <wsdl:part element="eslpay:paymentQueryRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="paymentQueryResponse">
    <wsdl:part element="eslpay:paymentQueryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="paymentValidationRequest">
  	<wsdl:part name="parameters" element="eslpay:paymentValidationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentValidationResponse">
  	<wsdl:part name="parameters" element="eslpay:paymentValidationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentConfirmationRequest">
  	<wsdl:part name="parameters" element="eslpay:paymentConfirmationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentConfirmationRequestResponse">
  	<wsdl:part name="parameters" element="eslpay:paymentConfirmationResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="ESLPaymentPortType">
    <wsdl:operation name="paymentQuery">
      <wsdl:input message="eslpay:paymentQueryRequest"/>
      <wsdl:output message="eslpay:paymentQueryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="paymentValidation">
    	<wsdl:input message="eslpay:paymentValidationRequest"></wsdl:input>
    	<wsdl:output message="eslpay:paymentValidationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentConfirmation">
    	<wsdl:input message="eslpay:paymentConfirmationRequest"></wsdl:input>
    	<wsdl:output message="eslpay:paymentConfirmationRequestResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="ESLPaymentPortBinding" type="eslpay:ESLPaymentPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="paymentQuery">
      <soap:operation soapAction="http://www.eslsetel.et/ESLPaymentService/paymentQuery"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="paymentValidation">
      <soap:operation soapAction="http://www.eslsetel.et/ESLPaymentService/paymentValidation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
         <wsdl:operation name="paymentConfirmation">
      <soap:operation soapAction="http://www.eslsetel.et/ESLPaymentService/paymentConfirmation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESLPaymentService">
    <wsdl:port binding="eslpay:ESLPaymentPortBinding" name="ESLPaymentPort">
      <soap:address location="http://https://teleeslbed.onrender.com/ESLPayment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>